global
    maxconn 5000
    log stdout local0 info

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 5s
    timeout server 30m
    timeout check 5s

frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    no log

frontend pg_primary
    bind *:5000
    default_backend pg_primary_be

frontend pg_replica
    bind *:5001
    default_backend pg_replica_be

backend pg_primary_be
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server patroni1 patroni1:5432 maxconn 1000 check port 8008
    server patroni2 patroni2:5432 maxconn 1000 check port 8008

backend pg_replica_be
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server patroni1 patroni1:5432 maxconn 1000 check port 8008
    server patroni2 patroni2:5432 maxconn 1000 check port 8008
